<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>199070172931-sl9e0j6c5nru6n2vo4v35hi32n3uc5ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199070172931-sl9e0j6c5nru6n2vo4v35hi32n3uc5ce</string>
	<key>API_KEY</key>
	<string>AIzaSyCbqcZfvnU5qxc9qN8Ky9qM4TQaqYWMijU</string>
	<key>GCM_SENDER_ID</key>
	<string>199070172931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Manoj.FireBaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>fir-chatapp-8f4b0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatapp-8f4b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:199070172931:ios:6179d619ad59025c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chatapp-8f4b0.firebaseio.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<string>NO</string>
</dict>
</plist>
